body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

h1 {
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}

.form-container, .card-container {
    padding: 20px;
    margin: 10px;
    margin-top: 40px;
    flex: 1;
    min-width: 300px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: fade-in-up 0.5s ease-in-out;
}

.card-container {
    margin-top: -10px;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    color: #ee0979;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.form-group {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

label {
    margin-right: 10px;
    color: #ccc;
    width: 20%;
}

input[type="text"], input[type="email"], input[type="url"] {
    width: 65%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: #fff;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
    padding: 20px;
}

input:focus {
    border: 1px solid #0084ff;
    outline: 1px solid #0084ff;
}

input[type="radio"] {
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    background-color: #ee0979;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#clearButton {
    background-color: #494747;
}

button:hover {
    opacity: 0.5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    animation: fade-in 0.5s ease-in-out;
}

@media (max-width: 460px) {
    table {
        font-size: 10px;
    }
}

th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
    animation: fade-in 0.5s ease-in-out;
}

th {
    background-color: #ee0979;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #333;
}

tr:nth-child(odd) {
    background-color: #222;
}

tr:hover {
    background-color: #444;
}

a {
    color: #ee0979;
}

td img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
    border-radius: 0;
    padding: 0;
    margin: 0;
    animation: scale-up 0.5s ease-in-out;
}

.description {
    width: 70%;
}

.image {
    width: 30%;
    padding: 10px;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
